/target
config/tls/*.pem
config/herringbank.yml
config/output.txt
public/
frontend/node_modules/
frontend/.svelte-kit/
.traefik.db.sqlx
.env
.envrc
.DS_Store
crates/export-type/target/
config/.DS_Store
output.txt
config/certs/
scripts/reset.sh
config/tls
config/tls/*.cs
.envrc
.pnpm-store/